:host {
  display: flex;
  flex: 1;
}

.coverparentspace {
  flex: 1;
  display: flex;
  flex-direction: column;
}

::ng-deep .ipv_selected-item {
  border: none;
}

::ng-deep .ipv_country-list {
  width: 100%;
}
