<!-- dashboard.component.html -->

<div class="dashboard-container">



  <div class="cards-wrapper w-full flex">
    <div class="w-full mb-2">
      <app-userprofilecard></app-userprofilecard>
    </div>
    <div class="w-full mb-2">
      <app-account-details></app-account-details>
    </div>
  </div>

  <!-- Second Row -->
  <div class="col-span-2">
    <app-transaction-history></app-transaction-history>
  </div>


</div>
<app-pin-creation-model *ngIf="showPINCreationModel" (redirect)="redirectToPINCreationPage()"></app-pin-creation-model>