.cards-wrapper {
    width: 100%;
    display: flex;
}

@media (max-width: 640px) {

    .cards-wrapper {
        flex-direction: column;
    }
}

:host {

    display: flex;
    flex: 1;
}

.coverparentspace {
    flex: 1;
    display: flex;
    flex-direction: column;
}