/* app-header.component.css */

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 60px;
  padding: 10px;
  z-index: 999;
  background-color: white;
}


@media (max-width: 640px) {

  h1 {
    font-weight: 600;
  }

  header {
    padding: 0px;
  }

  .smallscreen {
    padding: 2px;
    font-size: x-small;
    font-weight: normal;
    width: fit-content;

  }
}