<!-- transaction-history.component.html -->

<div class="p-4 bg-white rounded-lg shadow-lg flex-grow">
  <h2 class="text-3xl font-semibold text-gray-800 mb-6">Transaction History</h2>

  <div class="my-4">
    <label for="filterCriteria" class="block text-lg font-semibold text-gray-800">Filter by Transaction Type:</label>
    <div class="relative mt-1">
      <select id="filterCriteria" formControlName="filterCriteria"
      (change)="onFilterCriteriaChange($event)"
        class="block w-full p-2 pl-8 pr-4 bg-white border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50 focus:ring-blue-500 focus:border-blue-500 sm:text-sm custom-select">
        <option [attr.selected]="true" value="">All Transactions</option>
        <option value="Deposit">Deposits</option>
        <option value="Withdrawal">Withdrawals</option>
        <option value="Transfer">Transfers/Credited</option>
      </select>
    </div>
  </div>
  

  <div class="overflow-x-auto" *ngIf="!(filteredTransactionHistory.length === 0)">
    <table class="w-full table-auto">
      <thead>
        <tr class="bg-blue-500 text-white">
          <th class="p-2">Transaction ID</th>
          <th class="p-2">Amount</th>
          <th class="p-2">Transaction Type</th>
          <th class="p-2">Transaction Date</th>
          <th class="p-2">Source Account Number</th>
          <th class="p-2">Target Account Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of filteredTransactionHistory" class="border-b border-gray-300">
          <td class="p-2 text-center">{{ transaction.id }}</td>
          <td class="p-2 text-center font-bold">{{ transaction.amount | currency:'INR':'symbol' }}</td>
          <td class="p-2 text-center">
            <span class="{{ getTransactionStatus(transaction) }}-color">{{ getTransactionStatus(transaction) }}</span>
          </td>
          <td class="p-2 text-center">{{ transaction.transaction_date | date:'yyyy-MM-dd' }}</td>
          <td class="p-2 text-center">{{ transaction.sourceAccountNumber }}</td>
          <td class="p-2 text-center">{{ transaction.targetAccountNumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="filteredTransactionHistory.length === 0" class="text-center mt-4">
    <p class="text-3xl font-semibold text-gray-800">No Transaction History</p>
  </div>
</div>
