
.align-end{
    display: flex;
    justify-items: right;
    align-items: end;
    justify-content: flex-end;
}

@media (max-width: 640px) {

    
    .align-end{
        justify-content: flex-start;
    }
    .card-row{
        flex-direction: column;
    }

}