<div class="user-card p-4 bg-gradient-to-r from-blue-500 to-purple-600 rounded-lg shadow-lg">
  <div class="card-row">
    <h2 class="text-4xl font-semibold text-white mb-6">Hi, {{ userProfileData?.name }}</h2>
  </div>

  <div class="flex justify-between card-row">
    <div class="mb-4">
      <label class="block text-white text-sm small-media-font">Account Number</label>
      <span class="text-white font-bold text-sm small-media-font-value">{{ userProfileData?.accountNumber }}</span>
    </div>

    <div class="mb-4">
      <label class="block text-white text-sm small-media-font align-end">Phone Number</label>
      <span class="text-white font-bold text-sm small-media-font-value">{{ userProfileData?.phone_number }}</span>
    </div>
  </div>

  <div class="flex justify-between card-row">
    <div class="mb-4">
      <label class="block text-white text-sm small-media-font">Email</label>
      <span class="text-white font-bold text-sm small-media-font-value">{{ userProfileData?.email }}</span>
    </div>

    <div class="mb-4">
      <label class="block text-white text-sm small-media-font align-end">Address</label>
      <span class="text-white font-bold text-sm small-media-font-value">{{ userProfileData?.address }}</span>
    </div>
  </div>

</div>
