<div class="container mx-auto md:p-5 p-0">
  <h1 class="text-2xl font-bold text-indigo-700 mb-6">
    {{ showUpdateForm ? "Edit" : "" }} User Profile
  </h1>

  <div *ngIf="!showUpdateForm" class="rounded-lg bg-white md:p-6 p-2 shadow-lg">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label class="text-gray-600 font-semibold">Name:</label>
        <span class="text-gray-800 block">{{ userProfile.name }}</span>
      </div>

      <div>
        <label class="text-gray-600 font-semibold">Email:</label>
        <span class="text-gray-800 block">{{ userProfile.email }}</span>
      </div>

      <div>
        <label class="text-gray-600 font-semibold">Country Code:</label>
        <span class="text-gray-800 block">{{
          userProfile.countryCode || "N/A"
        }}</span>
      </div>

      <div>
        <label class="text-gray-600 font-semibold">Address:</label>
        <span class="text-gray-800 block">{{ userProfile.address }}</span>
      </div>

      <div>
        <label class="text-gray-600 font-semibold">Phone Number:</label>
        <span class="text-gray-800 block">{{ userProfile.phoneNumber }}</span>
      </div>

      <div>
        <label class="text-gray-600 font-semibold">Account Number:</label>
        <span class="text-gray-800 block">{{ userProfile.accountNumber }}</span>
      </div>

      <div>
        <label class="text-gray-600 font-semibold">Branch:</label>
        <span class="text-gray-800 block">{{
          userProfile.branch || "N/A"
        }}</span>
      </div>

      <div>
        <label class="text-gray-600 font-semibold">Account Type:</label>
        <span class="text-gray-800 block">{{
          userProfile.accountType || "N/A"
        }}</span>
      </div>

      <div>
        <label class="text-gray-600 font-semibold">IFSC Code:</label>
        <span class="text-gray-800 block">{{
          userProfile.ifscCode || "N/A"
        }}</span>
      </div>
    </div>

    <button
      (click)="toggleUpdateForm()"
      type="button"
      class="mt-6 font-semibold cursor-pointer text-indigo-900 bg-blue-100 py-2 px-4 rounded-lg hover:bg-blue-200 transition duration-300 ease-in-out"
    >
      Edit Profile
    </button>
  </div>

  <div *ngIf="showUpdateForm" class="bg-white rounded-lg shadow-lg md:p-6 p-2">
    <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
      <!-- Name field -->
      <div class="mb-4">
        <label class="text-gray-600 font-semibold" for="name">Name:</label>
        <input
          formControlName="name"
          type="text"
          id="name"
          [readonly]="!showUpdateForm"
          [value]="userProfile.name"
          class="border border-gray-300 rounded p-2 w-full focus:outline-none focus:border-blue-500"
        />
        <div
          *ngIf="f.name.invalid && f.name.touched"
          class="text-red-500 text-sm mt-1"
        >
          Please enter a valid name.
        </div>
      </div>

      <div class="mb-4">
        <label class="text-gray-600 font-semibold" for="email">Email:</label>
        <input
          formControlName="email"
          type="email"
          id="email"
          [readonly]="!showUpdateForm"
          [value]="userProfile.email"
          class="border border-gray-300 rounded p-2 w-full focus:outline-none focus:border-blue-500"
        />
        <div
          *ngIf="f.email.invalid && f.email.touched"
          class="text-red-500 text-sm mt-1"
        >
          <div *ngIf="f.email.errors?.required">Email is required.</div>
          <div *ngIf="f.email.errors?.email">
            Please enter a valid email address.
          </div>
        </div>
      </div>

      <div class="mb-4">
        <label class="text-gray-600 font-semibold" for="countryCode"
          >Country Code:</label
        >
        <lib-country-list
          formControlName="countryCode"
          id="countryCode"
          [selectedCountryCode]="userProfile.countryCode"
          (onCountryChange)="onCountryChange($event)"
          class="block w-full border rounded-lg shadow-sm focus:outline-none focus:border-indigo-500"
        >
        </lib-country-list>
        <div
          *ngIf="f.countryCode.invalid && f.countryCodetouched"
          class="text-red-500 text-sm mt-1"
        >
          Please enter a valid country code.
        </div>
      </div>

      <div class="mb-4">
        <label class="text-gray-600 font-semibold" for="phoneNumber"
          >Phone Number:</label
        >
        <input
          formControlName="phoneNumber"
          type="text"
          id="phoneNumber"
          [readonly]="!showUpdateForm"
          [value]="userProfile.phoneNumber"
          class="border border-gray-300 rounded p-2 w-full focus:outline-none focus:border-blue-500"
        />
        <div
          *ngIf="f.phoneNumber.invalid && f.phoneNumber.touched"
          class="text-red-500 text-sm mt-1"
        >
          <div *ngIf="f.phoneNumber.errors?.required">
            Phone number is required.
          </div>
          <div *ngIf="f.phoneNumber.errors?.invalidPhoneNumber">
            Please enter a valid phone number.
          </div>
        </div>
      </div>

      <div class="mb-4">
        <label class="text-gray-600 font-semibold" for="address"
          >Address:</label
        >
        <input
          formControlName="address"
          type="text"
          id="address"
          [readonly]="!showUpdateForm"
          [value]="userProfile.address"
          class="border border-gray-300 rounded p-2 w-full focus:outline-none focus:border-blue-500"
        />
      </div>

      <div class="mb-4">
        <label class="text-gray-600 font-semibold" for="password"
          >Password:</label
        >
        <input
          formControlName="password"
          type="password"
          id="password"
          autocomplete="current-password"
          [readonly]="!showUpdateForm"
          class="border border-gray-300 rounded p-2 w-full focus:outline-none focus:border-blue-500"
        />
        <div
          *ngIf="f.password.invalid && f.password.touched"
          class="text-red-500 text-sm mt-1"
        >
          <div *ngIf="f.password.errors?.required">Password is required.</div>
          <div *ngIf="f.password.errors?.minlength">
            Password must be at least 8 characters long.
          </div>
          <div *ngIf="f.password.errors?.maxlength">
            Password must be at most 127 characters long.
          </div>
        </div>
      </div>

      <div class="flex gap-2">
        <button
          *ngIf="showUpdateForm"
          type="submit"
          [disabled]="profileForm.invalid"
          class="mt-6 font-semibold cursor-pointer bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 transition duration-300 ease-in-out disabled:opacity-50 disabled:cursor-not-allowed w-48"
        >
          Save Changes
        </button>

        <button
          (click)="toggleUpdateForm()"
          type="button"
          class="mt-6 font-semibold cursor-pointer bg-gray-100 text-slate-800 py-2 px-4 rounded hover:bg-indigo-50 cursor-pointer"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
